<div class="footer-container">
    <div class="footer-links">
        <ul>
            <li><a href="#">Recomment a restaurant</a></li>
            <li><a href="#">Sign up a restaurant</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="dataprotection.html">Privacy statement</a></li>
            <li><a href="imprint.html">Imprint</a></li>
            <li><a href="#">Cookie Statement</a></li>
            <li><a href="#">Bug Bounty</a></li>
            <li><a href="#">Ethics hotline</a></li>
        </ul>
    </div>
    <p>© 2022 Doorstep Delivery </p>
</div>