<div class="header-container">
    <div class="logo">
        <img class="back-arrow" src="img/icons8-zurück-30.png" alt="Back">
        <a href="index.html"><img class="doorstep-logo" src="img/doorstep-logo.png" alt="Logo"></a>
    </div>
    <div class="address-container">
        <img src="img/icons8-bestellung-unterwegs-50.png" alt="Location Pin">
        <p class="address">Bahnhofsstraße 384, 48163 Münster</p>
    </div>

    <div class="navigation">
        <div class="btn language-btn ">
            <img class="language-img" src="img/vereinigtes-konigreich.png" alt="English">
        </div>
        <div class="btn burger-btn">
            <nav class="burgerMenu"><img src="img/icons8-menü.svg" alt="Burger Menu"></nav>
        </div>
    </div>
</div>